In [54]:
import pandas as pd

In [55]:
weatherdata={'day':['1/1/2018','2/1/2018'],
            'mintemp':[10,9],'maxtep':[20,21],
            'windspeed':[5,6],
            'event':['rain','sunny']}

In [56]:
df=pd.DataFrame(weatherdata)

In [57]:
print(df)#print in a form of dataframe

        day  mintemp  maxtep  windspeed  event
0  1/1/2018       10      20          5   rain
1  2/1/2018        9      21          6  sunny

In [58]:
print(weatherdata)#print in a form of dictionary

{'day': ['1/1/2018', '2/1/2018'], 'mintemp': [10, 9], 'maxtep': [20, 21], 'windspeed': [5, 6], 'event': ['rain', 'sunny']}

In [59]:
print(df.head())#display top 5 records

        day  mintemp  maxtep  windspeed  event
0  1/1/2018       10      20          5   rain
1  2/1/2018        9      21          6  sunny

In [60]:
print(df.head(4))

        day  mintemp  maxtep  windspeed  event
0  1/1/2018       10      20          5   rain
1  2/1/2018        9      21          6  sunny

In [61]:
print(df.tail())

        day  mintemp  maxtep  windspeed  event
0  1/1/2018       10      20          5   rain
1  2/1/2018        9      21          6  sunny

In [62]:
print(df.tail(10))

        day  mintemp  maxtep  windspeed  event
0  1/1/2018       10      20          5   rain
1  2/1/2018        9      21          6  sunny

In [63]:
print(df.columns)

Index(['day', 'mintemp', 'maxtep', 'windspeed', 'event'], dtype='object')

In [64]:
print(df['event'])

0     rain
1    sunny
Name: event, dtype: object

In [65]:
da=pd.read_csv("nifty.csv")
print(da)

          Date         Open         High          Low        Close  \
0    5/27/2021  15323.95020  15384.54981  15272.50000  15337.84961
1    5/28/2021  15421.20020  15469.65039  15394.75000  15435.65039
2    5/31/2021  15437.75000  15606.34961  15374.00000  15582.79981
3     6/1/2021  15629.65039  15660.75000  15528.29981  15574.84961
4     6/2/2021  15520.34961  15597.45020  15459.84961  15576.20020
..         ...          ...          ...          ...          ...
244  5/20/2022  16043.79981  16283.04981  16003.84961  16266.15039
245  5/23/2022  16290.95020  16414.69922  16185.75000  16214.70020
246  5/24/2022  16225.54981  16262.79981  16078.59961  16125.15039
247  5/25/2022  16196.34961  16223.34961  16006.95020  16025.79981
248  5/26/2022  16105.00000  16204.45020  15903.70020  16170.15039

       Adj Close  Volume
0    15337.84961       0
1    15435.65039  468100
2    15582.79981  436000
3    15574.84961  409600
4    15576.20020  428600
..           ...     ...
244  16266.15039  252400
245  16214.70020  293800
246  16125.15039  249800
247  16025.79981  243300
248  16170.15039       0

[249 rows x 7 columns]

In [66]:
print(da['Open'].max())

18602.34961

In [67]:
print(da['Open'].sum())

4163769.4454500005

In [68]:
print(da['Open'].mean())

16994.97732836735

In [69]:
da.fillna(0,inplace=True)
print(da['Open'].mean())
#print(da)

16721.965644377513

In [70]:
da=pd.read_csv("nifty.csv",header=None)

In [71]:
print(da)

             0            1            2            3            4  \
0         Date         Open         High          Low        Close
1    5/27/2021   15323.9502  15384.54981      15272.5  15337.84961
2    5/28/2021   15421.2002  15469.65039     15394.75  15435.65039
3    5/31/2021     15437.75  15606.34961        15374  15582.79981
4     6/1/2021  15629.65039     15660.75  15528.29981  15574.84961
..         ...          ...          ...          ...          ...
245  5/20/2022  16043.79981  16283.04981  16003.84961  16266.15039
246  5/23/2022   16290.9502  16414.69922     16185.75   16214.7002
247  5/24/2022  16225.54981  16262.79981  16078.59961  16125.15039
248  5/25/2022  16196.34961  16223.34961   16006.9502  16025.79981
249  5/26/2022        16105   16204.4502   15903.7002  16170.15039

               5       6
0      Adj Close  Volume
1    15337.84961       0
2    15435.65039  468100
3    15582.79981  436000
4    15574.84961  409600
..           ...     ...
245  16266.15039  252400
246   16214.7002  293800
247  16125.15039  249800
248  16025.79981  243300
249  16170.15039       0

[250 rows x 7 columns]

In [72]:
stock=[('1/1/2019',22,11,'infy'),
       ('2/1/2018',20,10,'infy'),
       ('3/1/2018',20,10,'infy')]

da=pd.DataFrame(stock,columns=['day','high','low','cn'])
print(da)

        day  high  low    cn
0  1/1/2019    22   11  infy
1  2/1/2018    20   10  infy
2  3/1/2018    20   10  infy

In [78]:
da=pd.read_csv("nifty.csv")
da.to_csv("aa.csv")
da.to_csv("aa1.csv",index=False)
da.to_csv("aa2.csv",header=False)
da.to_csv("aa3.csv",columns=['Open','Close'])
print(da)

          Date         Open         High          Low        Close  \
0    5/27/2021  15323.95020  15384.54981  15272.50000  15337.84961
1    5/28/2021  15421.20020  15469.65039  15394.75000  15435.65039
2    5/31/2021  15437.75000  15606.34961  15374.00000  15582.79981
3     6/1/2021  15629.65039  15660.75000  15528.29981  15574.84961
4     6/2/2021  15520.34961  15597.45020  15459.84961  15576.20020
..         ...          ...          ...          ...          ...
244  5/20/2022  16043.79981  16283.04981  16003.84961  16266.15039
245  5/23/2022  16290.95020  16414.69922  16185.75000  16214.70020
246  5/24/2022  16225.54981  16262.79981  16078.59961  16125.15039
247  5/25/2022  16196.34961  16223.34961  16006.95020  16025.79981
248  5/26/2022  16105.00000  16204.45020  15903.70020  16170.15039

       Adj Close  Volume
0    15337.84961       0
1    15435.65039  468100
2    15582.79981  436000
3    15574.84961  409600
4    15576.20020  428600
..           ...     ...
244  16266.15039  252400
245  16214.70020  293800
246  16125.15039  249800
247  16025.79981  243300
248  16170.15039       0

[249 rows x 7 columns]